// Для Google Fonts
// Ctrl + SHIFT + P ==> Google Fonts: Insert CSS @import ==> пишем название шрифта ==>
// ==> завернуть в кавычки, все что в скобках ==> удалить ненужные начертания шрифтов ==>

// ==> Добавить в конце строки google-шрифтов
// &display=swap - для ускорения загрузки страницы (обязательно)
// &subset=cyrillic-ext -  для подключения кирилицы

// Пример удалить после подключения:
// Roboto
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,700&display=swap&subset=cyrillic-ext");
// Playfair Display
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700,900&display=swap&subset=cyrillic-ext");

//=====> Icons <========================================================================================================================================================
@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: inline-block;
	}
}

._icon-logo:before {
	content: "\e903";
}
._icon-arrow-1:before {
	content: "\e900";
}
._icon-arrow-2:before {
	content: "\e901";
}
._icon-location:before {
	content: "\e902";
}
._icon-search:before {
	content: "\e918";
}
._icon-work:before {
	content: "\e919";
}
