@use "sass:math";
// flex: 0 0 math.div(494, 1240) * 100%;

.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	min-height: 40px; // высота шапки для скролла (сколько нужно прокрутить до присвоения класса _scroll)
	transition: all 0.3s ease 0s;
	@media (max-width: $md3+px) {
		min-height: 5px; // высота шапки для скролла (сколько нужно прокрутить до присвоения класса _scroll)
	}
	&._scroll {
		.header__wrapper {
			background: rgba($c_363636, 0.9);
			@media (any-hover: hover) {
				&:hover {
					background: rgba($c_363636, 1);
				}
			}
		}
		.header__body {
			min-height: 50px;
			@media (min-width: $md2+px) {
				min-height: 70px;
			}
		}
		.header__logo {
			transition: all 0.3s ease 0s;
			img {
				height: 45px;
				@media (min-width: $md2+px) {
					height: 65px;
				}
			}
		}
	}
	// .header__wrapper
	&__wrapper {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 98;
		transition: all 0.3s ease 0s;
	}
	// .header__container
	&__container {
	}
	// .header__body
	&__body {
		display: flex;
		align-items: center;
		@include adaptive-value("min-height", 145.5, 50, 1);
		// min-height: 145.5px; // высота контента шапки
		transition: all 0.3s ease 0s;
		@media (min-width: $md3+px) {
			justify-content: space-between;
		}
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: 101;
		@media (max-width: $md3+px) {
			margin: 0px 20px 0px 0px;
		}
		img {
			// height: 145.5px;
			@include adaptive-value("height", 145.5, 45, 1);
			transition: height 0.3s ease 0s;
			// @media (min-width: $md2+px) {
			// 	max-height: 65px;
			// }
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__work
	&__work {
		display: flex;
		align-items: center;
		flex: 0 0 126px;
		position: relative;
		z-index: 101;
		color: $c_DA9640;
		@media (max-width: $md3+px) {
			flex: 1 1 auto;
		}
		// .header__work_text
		&_text {
			margin: 0px 10px 0px 0px;
			font-size: 18px;
			// line-height: math.div(21, 18) * 100%;
		}
		// .header__work_time
		&_time {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 34px;
			height: 34px;
			position: relative;
			font-size: 8px;
			font-weight: 900;
			&::before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 38px;
			}
			&::after {
				content: "";
				width: 22.45px;
				height: 22.45px;
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 40px;
				transform: translate(-50%, -50%);
				border: 1px solid $c_DA9640;
				border-radius: 50%;
			}
		}
	}
	// .header__icon-button
	&__icon-button {
	}
}

.menu {
	@media (min-width: $md3+px) {
		flex: 0 1 500px;
	}
	// .menu__body
	&__body {
		@media (max-width: $md3+px) {
			padding: 0px 15px 30px 15px;
			width: 100%;
			height: 120%;
			position: fixed;
			top: -120%;
			left: 0;
			z-index: 97;
			background: $c_B89B77;
			overflow: auto;
			transition: all 0.3s ease 0s;
			&::before {
				content: "";
				width: 100%;
				height: 50px; // такая же высота как и header__body
				@include adaptive-value("height", 145.5, 50, 1);
				position: fixed;
				top: 0;
				left: 0;
				z-index: 100;
				// background: $c_363636;
				transition: all 0.3s ease 0.3s;
			}
			&._active {
				top: 0;
				&::before {
					background: $c_363636;
					transition: all 0s ease 0s;
				}
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		@media (max-width: $md3+px) {
			flex-direction: column;
			@include adaptive-value("padding-top", 180, 80, 1);
			height: 80%;
			border-right: 1px solid $mainColor;
			border-bottom: 1px solid $mainColor;
			border-left: 1px solid $mainColor;
		}
		@media (min-width: $md3+px) {
			justify-content: space-between;
		}
	}
	// .menu__item
	&__item {
		@media (max-width: $md3+px) {
			margin: 0px 0px 30px 0px;
		}
		// .menu__item_phones
		&_phones {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			flex: 1 1 auto;
			margin: 0px 0px 20px 0px;
			@media (min-width: $md3+px) {
				display: none;
			}
		}
	}
	// .menu__link
	&__link {
		font-size: 18px;
		@media (max-width: $md3+px) {
			font-size: 30px;
		}
		// .menu__link_title
		&_title {
			margin: 0px 0px 20px 0px;
			font-size: 18px;
			@media (max-width: $md3+px) {
				font-size: 30px;
			}
		}
		// .menu__link_phone
		&_phone {
			display: block;
			&:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}
		}
	}
	// .menu__icon ===> BURGER
	&__icon {
	}
}

.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		flex: 0 0 30px;
		width: 30px;
		height: 18px;
		position: relative;
		z-index: 101;
		cursor: pointer;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $mainColor;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
