//=====> Mixins <========================================================================================================================================================

//---> Подключение шрифта
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

//---> Адаптивный шрифт
@mixin adaptive-font($pcSize, $mobSize, $maxSize) {
	$addSize: $pcSize - $mobSize;
	@if $maxSize==1 {
		//Только если меньше контейнера
		font-size: $pcSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $maxSize==2 {
		//Только если больше контейнера
		font-size: $pcSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//---> Адаптивное свойство
@mixin adaptive-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//=====> Vars <========================================================================================================================================================

//---> <font>--------------------------------------------------------------------------------------------------------------------------------------------------------------
//---> шрифт по умолчанию (уже подключен)
$fontFamily: "Roboto";
//---> перечисление других шрифтов
$f_PlayfairDisplay: "Playfair Display";
//===> font-size по умолчанию
$fontSize: 16;

// <color>--------------------------------------------------------------------------------------------------------------------------------------------------------------
$mainColor: #ffffff;
$c_DA9640: #da9640;
$c_B89B77: #b89b77;
$c_363636: #363636;
$c_000000: #000000;
$c_222222: #222222;
$c_C7C7C7: #c7c7c7;
$c_CACACA: #cacaca;
$c_2E2E2E: #2e2e2e;
// $c-black: black;
// $c-grey: grey;
// $c-white: white;
// $c-red: red;
// $c-brown: brown;
// $c-yellow: yellow;
// $c-orange: orange;
// $c-green: green;
// $c-blue: blue;
// $c-purple: purple;

// <grid>--------------------------------------------------------------------------------------------------------------------------------------------------------------
$minWidth: 320px;
$maxWidth: 1920; // вписать ширину полотна
$maxWidthContainer: 1170; // вписать ширину контейнера
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// <Extend/Inheritance>--------------------------------------------------------------------------------------------------------------------------------------------------------------
%title {
	// @extend %title;  // таким образом подключаем
}
